:root { /* colour variable declarations */
  --main-gold: #C1AF72;
  --main-black: #262626;
  --main-text: #727272;
  --main-grey: #CCCCCC;
}

/* page resets */
* {
  margin: 0;
  padding: 0;
  transition: all .3s;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

::selection {
  background: var(--main-gold);
  color: white;
}

/* site-wide font elements */

.header { /* apply class to headers. */
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  color: var(--main-black);
  font-size: 32px;
  line-height: 1.2em;
  text-transform: capitalize;
}

.header--hero { /* modifier for hero, apply as well as header class. */
  font-size: 70px;
  color: #fff;
}

.bodyfont { /* apply class to body text. */
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: var(--main-text);
}

.bodyfont--hero { /* modifier for hero subtitle, apply as well as bodyfont class. */
  color: #fff;
  opacity: .75;
  font-size: 25px;
  margin: 30px 0 50px;
}

.bodyfont--title { /* modifier for internal page titles, apply as well as bodyfont class. */
  font-size: 42px;
  color: var(--main-black);
}

.pre-title {
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.075em;
  text-transform: uppercase;
  color: #fff;
}

.pre-title--large {
  font-size: 20px;
  display: inline-block;
  vertical-align: middle;
}

.pre-title--scroll {
  position: absolute;
  left: 40px;
  bottom: 40px;
}

.font--gold {color: var(--main-gold);}

.font--white {color: #ffffff;}

.font--black {color: var(--main-black);}

.button { /* apply class to all buttons. */
  display: inline-block;
  position: relative;
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  font-size: 14px;
  padding: 25px 40px;
  background: var(--main-gold);
  border: 2px solid var(--main-gold);
  color: #fff;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  transition: all .5s;
}

.button--alt {
  background: var(--main-black);
  color: #fff;
  border: 2px solid var(--main-black);
  padding: 20px 50px;
  margin-top: 50px;
}

.button:hover {
  color: var(--main-gold);
  background: transparent;
  transform: scale(1.01);
}

.button--alt:hover {
  background: transparent;
  color: var(--main-black);
  opacity: 0.8;
  transform: scale(1.01);
}

.link {
  display: block;
  font-weight: 600;
  margin-top: 30px;
}

.container {
  max-width: 1280px;
  padding: 0 40px;
  margin: 0 auto;
}

.container--small {
  max-width: 870px;
}

.inline-hack {
  font-size: 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #272727;
  opacity: .5;
}

@media screen and (max-width: 600px) {
  .container {
    padding: 0 20px;
  }
}

/*-----------------------------------------*/

.icon {
  display: inline-block;
  vertical-align: middle;
  width: 15px;
  height: 15px;
}

/*-----------------------------------------*/

.site-header {
  position: absolute;
  top: 0;
  left: 0;
  height: 120px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px;
  background: -moz-linear-gradient(top, rgba(38,38,38,1) 0%, rgba(38,38,38,0) 100%);
  background: -webkit-linear-gradient(top, rgba(38,38,38,1) 0%,rgba(38,38,38,0) 100%);
  background: linear-gradient(to bottom, rgba(38,38,38,1) 0%,rgba(38,38,38,0) 100%);
  z-index: 10;
}

.site-header__logo {
  width: 175px;
  height: 75px;
  z-index: 9;
}

.site-header__logo:hover {
  opacity: .8;
  transform: scale(.95);
}

.site-header__logo-image {
  width: 100%;
}

.site-header__item {
  position: relative;
  display: inline-block;
  margin: 0 30px;
}

.site-header__link:hover {
  color: var(--main-gold);
}

.site-header__item.active {
  color: var(--main-gold);
}

.site-header__item.active:after {
  content: "";
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background: var(--main-gold);
}

.site-header__social {
  display: inline-block;
  margin-left: 20px;
}

.site-header__social svg {
  height: 16px;
  display: inline-block;
  fill: #fff;
}

.site-header__nav-link {
  display: none;
}

@media screen and (max-width: 960px) {
  .site-header {
    padding: 0 30px;
  }
  .site-header__socials {
    display: none;
  }
  .site-header__item:last-child {
    margin: 0 0 0 30px;
  }
}

@media screen and (max-width: 750px) {
  .site-header__logo {
    width: 65px;
    height: 65px;
    background-size: cover;
    background-image: url('assets/images/logo--icon.png');
  }

  .site-header__logo-image {
    display: none;
  }

  .site-header__nav {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    max-height: 0;
    background-color: var(--main-black);
    background-image: url('assets/images/pattern.png');
    background-repeat: repeat;
    transition: all .7s cubic-bezier(0.75, 0.01, 0.05, 0.9);
  }

  .site-header__nav.open {
    max-height: 100vh;
  }

  .site-header__nav.open .site-header__item {
    transform: none;
    opacity: 1;
  }

  .site-header__nav-link {
    display: block;
    padding: 10px 0;
  }

  .site-header__nav-icon {
    position: relative;
    display: block;
    width: 22px;
    height: 2px;
    background: #fff;
  }

  .site-header__nav-icon:before, .site-header__nav-icon:after {
    content: '';
    display: block;
    position: relative;
    width: 22px;
    height: 2px;
    background: #fff;
    transition: top .3s .2s ease, -webkit-transform .3s ease, transform .3s ease, width .2s ease;
  }

  .site-header__nav-icon:before {
    top: -6px;
  }

  .site-header__nav-icon:after {
    top: 4px;
  }

  .site-header__nav-icon.open {
    height: 0;
  }

  .site-header__nav-icon.open:before {
    top: 0;
    transform: rotate(45deg);
    width: 22px;
    transition: top .2s ease, -webkit-transform .3s .2s ease, transform .3s .2s ease;
  }

  .site-header__nav-icon.open:after {
    top: -2px;
    transform: rotate(-45deg);
    width: 22px;
    transition: top .2s ease, -webkit-transform .3s .2s ease, transform .3s .2s ease;
  }

  .site-header__list {
    display: inline-block;
    top: 50%;
    left: 30px;
    position: absolute;
    transform: translateY(-50%);
  }

  .site-header__item, .site-header__item:last-child {
    display: block;
    margin: 30px 0;
    text-transform: capitalize;
    font-size: 40px;
    letter-spacing: -0.001em;
  }

  .site-header__item {
    opacity: 0;
    transform: scale(1.5) translateY(-24px);
    transition: opacity 0.35s ease-out, transform 0.35s ease-out, -webkit-transform 0.35s ease-out;
  }

  .site-header__item:nth-child(1) {transition-delay: 0.3s;}
  .site-header__item:nth-child(2) {transition-delay: 0.35s;}
  .site-header__item:nth-child(3) {transition-delay: 0.4s;}
  .site-header__item:nth-child(4) {transition-delay: 0.45s;}

  .site-header__item:after {
    display: none;
  }
}

/*-----------------------------------------*/

.home-hero {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url('assets/images/hero.jpg');
  background-size: cover;
  background-position: center;
  background-color: var(--main-black);
}

.home-hero__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #272727;
  opacity: .4;
}

.home-hero__grad-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 50vw;
  background: -moz-linear-gradient(left, rgba(38,38,38,1) 0%, rgba(38,38,38,0) 100%);
  background: -webkit-linear-gradient(left, rgba(38,38,38,1) 0%,rgba(38,38,38,0) 100%);
  background: linear-gradient(to right, rgba(38,38,38,1) 0%,rgba(38,38,38,0) 100%);
}

.home-hero__content {
  position: absolute;
  max-width: 750px;
  top: 50%;
  left: 60px;
  transform: translateY(-50%);
}

.home-hero h1 {
  animation: slideIn .8s .5s;
  animation-fill-mode: both;
}

.home-hero p {
  animation: slideIn .8s .6s;
  animation-fill-mode: both;
}

.home-hero a {
  animation: slideIn .8s .7s;
  animation-fill-mode: both;
}

@keyframes slideIn {
  from {
    transform: translateY(100px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@media screen and (max-width: 960px) {
  .home-hero__content .header--hero {
    font-size: 60px;
    line-height: 70px;
  }

  .home-hero__content {
    left: 30px;
  }
}

@media screen and (max-width: 750px) {
  .home-hero__content .header--hero {
    font-size: 50px;
    line-height: 60px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 600px) {
  .home-hero__content .header--hero {
    font-size: 35px;
    line-height: 45px;
  }
}

/*-----------------------------------------*/

.home-main {
  padding: 100px 0;
}

.home-main__panel {
  position: relative;
  padding: 50px 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.home-main__panel:nth-child(even) {
  flex-direction: row-reverse;
}

.home-main__image-holder {
  position: relative;
  width: 300px;
  height: 500px;
  overflow: hidden;
}

.home-main__image {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
}

.home-main__text {
  width: 49%;
  max-width: 320px;
}

.home-main__text .header {
  margin: 10px 0 20px;
}

@media screen and (max-width: 750px) {
  .home-main {
    padding: 50px 0;
  }

  .home-main__panel {
    flex-direction: column !important;
  }

  .home-main__image-holder {
    width: 100%;
    height: 400px;
    margin-bottom: 25px;
  }

  .home-main__image {
    position: relative;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: auto;
  }

  .home-main__text {
    width: 100%;
    max-width: none;
  }
}

@media screen and (max-width: 500px) {
  .home-main {
    padding: 25px 0;
  }

  .home-main__image-holder {
    height: 250px;
  }
}

/*-----------------------------------------*/

.place-cards {
  padding-bottom: 50px;
}

.place-cards--discover {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.place-cards .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.place-cards .container .pre-title {
  flex-basis: 100%;
  margin-bottom: 40px;
}

.place-cards__item {
  display: block;
  position: relative;
  width: 32%;
  padding-bottom: 32%;
  margin-bottom: 20px;
  background-size: 150%;
  background-position: center;
  background-color: var(--main-black);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.5s cubic-bezier(.25,.8,.25,1);
  overflow: hidden;
}

.place-cards__item--large {
  width: 100%;
  padding-bottom: 35%;
  margin: 0 0 40px;
}

.place-cards__item--large .place-cards__text {
  left: 40px;
  bottom: 40px;
  max-width: 370px;
}

.place-cards__item--large .place-cards__text .header {
  font-size: 45px;
  margin-bottom: 10px;
}

.place-cards__item:hover {
  background-size: 165%;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  transform: scale(1.02);
}

.place-cards__item:hover .overlay {
  opacity: 0;
}

.place-cards__item:hover .place-cards__text {
  transform: translateX(-100%);
  opacity: 0;
}

.place-cards__text {
  position: absolute;
  left: 30px;
  bottom: 30px;
  padding-right: 30px;
  max-width: 300px;
  transition: all .5s ease;
}

.place-cards__text .header {
  margin-bottom: 10px;
}

/* Firefox & Edge fix for cards not showing due to padding-bottom being based on the height of it's parent. The following fixes Firefox and Edge respectively. */
@-moz-document url-prefix() {
  .place-cards__item {
    height: 400px;
    background-size: cover;
  }
}

@supports (-ms-ime-align:auto) {
  .place-cards__item {
    height: 400px;
    background-size: cover;
  }
}

@media screen and (max-width: 880px) {
  .place-cards__item:not(.place-cards__item--large) {
    width: 49%;
    padding-bottom: 49%;
    margin-bottom: 2%;
  }
}

@media screen and (max-width: 750px) {
  .place-cards__item:not(.place-cards__item--large) {
    width: 100%;
    margin-bottom: 20px;
  }

  .place-cards__item--large {
    padding-bottom: 50%;
  }

  .place-cards__item--large .place-cards__text .header {
    font-size: 32px;
  }

  .place-cards__item--large .place-cards__text {
    left: 30px;
    bottom: 30px;
  }
}

@media screen and (max-width: 500px) {
  .place-cards__item {
    padding-bottom: 100% !important;
  }
}

/*-----------------------------------------*/

.location, .location iframe {
  background: var(--main-black);
  position: relative;
  width: 100vw;
  height: 100vh;
}

.location__instruction {
  position: absolute;
  bottom: 50%;
  right: 50%;
  transform: translate(50%, -50%) scale(2);
  padding: 25px 40px;
  border-radius: 4px;
  background: var(--main-black);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  z-index: 9;
  animation: location 1s 5s;
  animation-fill-mode: forwards;
}

.location__instruction:after {
  content: '';
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  width: 10%;
  height: 2px;
  border-radius: 4px;
  background: white;
  animation: loading 5s ease;
  animation-fill-mode: forwards;
}

@keyframes location {
  from {
    bottom: 50%;
    right: 50%;
    transform: translate(50%, -50%) scale(2);
  }
  to {
    bottom: 30px;
    right: 30px;
    transform: translate(0, 0) scale(1);
  }
}

@keyframes loading {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .location__instruction {
    bottom: 50px;
    right: 0;
    transform: none;
    width: 100%;
    text-align: center;
    animation: none;
  }
}

/*-----------------------------------------*/

.discover {
  padding: 100px 0;
}

.discover .pre-title--large {
  margin: 30px 0 40px;
}

.discover .icon {
  margin: 30px 5px 40px 0;
}

/*-----------------------------------------*/

.page-title {
  position: relative;
  width: 100%;
  height: 550px;
  background-size: cover;
  background-position: center;
  background-color: var(--main-black);
}

.page-title--discover {
  background-image: url("assets/images/discover.jpg")
}

.page-title__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #272727;
  opacity: .6;
}

.page-title__grad-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 50vw;
  background: -moz-linear-gradient(left, rgba(38,38,38,1) 0%, rgba(38,38,38,0) 100%);
  background: -webkit-linear-gradient(left, rgba(38,38,38,1) 0%,rgba(38,38,38,0) 100%);
  background: linear-gradient(to right, rgba(38,38,38,1) 0%,rgba(38,38,38,0) 100%);
}

.page-title__content {
  position: absolute;
  max-width: 750px;
  width: 100%;
  text-align: center;
  padding: 0 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.page-title__content .bodyfont {
  max-width: 370px;
  margin: 0 auto;
  margin-top: 20px;
}

.page-title__return {
  position: absolute;
  left: 0;
  bottom: -50px;
  width: 50px;
  height: 50px;
  background: var(--main-gold);
}

@media screen and (max-width: 600px) {
  .page-title {
    height: 60vh;
  }
  .page-title__content .header {
    font-size: 45px;
  }
}

/*-----------------------------------------*/

.page-main {
  position: relative;
  display: inline-block;
  padding: 60px 0;
  width: calc(100% - 460px);
  margin-right: 60px;
}

.page-main .bodyfont {
  margin-bottom: 20px;
}

.page-main figure {
  margin: 30px 0 50px;
}

.page-main img {
  width: 100%;
  margin-bottom: 10px;
}

.page-main__gallery {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.page-main__gallery .pre-title {
  flex-basis: 100%;
  margin: 50px 0 10px;
}

.page-main__gallery-img {
  width: 32%;
  height: 32%;
}

@media screen and (max-width: 960px) {
  .page-main {
    width: 100%;
    margin-right: 0;
  }

  .container--detail {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
}

/*-----------------------------------------*/

.page-sidebar {
  position: sticky;
  position: -webkit-sticky;
  top: 20px;
  display: inline-block;
  width: 400px;
  margin-top: -60px;
  margin-bottom: 70px;
  padding: 40px 50px;
  background: #fff;
  box-shadow: 0 10px 20px rgba(38,38,38,0.12), 0 6px 6px rgba(38,38,38,0.14);
  vertical-align: top;
}

.page-sidebar .pre-title {
  margin-bottom: 10px;
}

.page-sidebar .pre-title--large {
  margin-bottom: 40px;
}

.page-sidebar hr {
  margin: 25px 0;
  width: 100%;
  opacity: 0.3;
}

.page-sidebar .key-price {
  letter-spacing: 0.2em;
}

.page-sidebar .key-price .inactive {
  opacity: 0.2;
}

.page-sidebar .key-price .info {
  font-size: 12px;
  letter-spacing: 0;
}

.page-sidebar__icon {
  width: 20px;
  display: inline-block;
  margin-right: 15px;
}

.page-sidebar__icon path {
  fill: var(--main-text);
}

.page-sidebar__icon:hover path {
  opacity: 0.6;
}

@media screen and (max-width: 960px) {
  .page-sidebar {
    position: relative;
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .page-sidebar {
    width: calc(100% + 40px);
    margin-left: -20px;
    padding: 40px 30px;
    top: 0;
  }
}

/*-----------------------------------------*/

.submit {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 0 20px;
  background: url('assets/images/submit.jpg');
  background-size: cover;
}

.submit .pre-title--large {
  margin-bottom: 50px;
}

.submit__window {
  position: relative;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 620px;
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 4px;
  padding: 50px;
  text-align: center;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.submit form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.submit input[type="text"], input[type="url"] {
  display: block;
  width: 100%;
  padding: 10px 0;
  border: none;
  border-bottom: solid 2px var(--main-gold);
  margin-bottom: 20px;
  outline: none;
  color: var(--main-black);
  opacity: .5;
}

.submit input[type="text"]:focus, input[type="url"]:focus {
  opacity: 1;
}

.submit fieldset {
  width: 45%;
  text-align: left;
  border: none;
}

.submit fieldset:nth-child(3) {
  width: 100%;
  margin-top: 20px
}

.submit label {
  font-weight: normal;
  color: var(--main-text)
}

.submit textarea {
  width: 100%;
  height: 100px;
  padding: 10px 0;
  border: none;
  border-bottom: solid 2px var(--main-gold);
  resize: none;
  outline: none;
  color: var(--main-black);
  opacity: .5;
}

.submit textarea:focus {
  opacity: 1;
}

.submit input[type="submit"] {
  margin: 0 auto;
  margin-top: 50px;
  padding: 25px 80px;
  -webkit-appearance: none; /* Fixes an issue with Safari iOS button styling. */
  -webkit-border-radius: 0; /* Fixes an issue with Safari iOS button styling. */
}

@media screen and (max-width: 500px) {
  .submit {
    padding: 0 20px 160px;
    height: auto;
  }

  .submit__window {
    padding: 50px 30px;
    top: 120px;
    transform: translate(-50%, 0);
  }

  .submit fieldset {
    width: 100%;
  }
}

/*-----------------------------------------*/

.site-footer {
  position: relative;
  padding: 50px 20px;
  background: var(--main-black);
  text-align: center;
}

.site-footer__logo {
  width: 100%;
  max-width: 300px;
}

.site-footer__nav {
  margin: 40px 0;
}

.site-footer__item {
  position: relative;
  display: inline-block;
  margin: 0 30px;
}

.site-footer__item.active {
  color: var(--main-gold);
}

.site-footer__item.active:after {
  content: "";
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background: var(--main-gold);
}

.site-footer__social {
  display: inline-block;
  margin-right: 20px;
}

.site-footer__social:last-child {
  margin-right: 0;
}

.site-footer__social svg {
  height: 16px;
  display: inline-block;
  fill: #fff;
}

.site-footer__copyright {
  font-size: 12px;
  margin-top: 30px;
}

.madeby {
  width: 120px;
  position: absolute;
  bottom: 40px;
  right: 40px;
}

@media screen and (max-width: 600px) {
  .site-footer__item {
    display: block;
    margin: 30px 0;
  }

  .madeby {
    width: 120px;
    position: relative;
    margin-top: 20px;
    bottom: 0;
    right: 0;
  }
}
